<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<center>
    <form method="post" action="/register" th:object="${registerForm}">
        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Error</span>
        Login: <input type="text" th:field="*{login}" placeholder="Login">
        <br/>
        <span style="color: red" th:if="${errorPassword}">Hasła nie są takie same!<br/></span>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
        Haslo: <input type="password" th:field="*{password}" placeholder="Hałso">
        <br/>
        <span th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Error</span>
        Powtórz hasło: <input type="password" th:field="*{repeatPassword}" placeholder="Powtórz hasło">
        <br/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
        Email: <input type="email" th:field="*{email}" placeholder="email">
        <br/>
        <input type="submit" value="Zarejestruj">
    </form>
</center>

</body>
</html>